<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mackaylavanbinsbergen.wanderings" version="1.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Wanderings</name>
    <description>
       Wanderings is a mindfulness app centered around the visualization meditation technique and the practice of labyrinth walking.  The app aims to help you experience stress relief by guiding you through old and new techniques for mindfulness, combining meditative exercises and printed imagery to create a unique environment for relaxation.  

        I created this app as my graduation project from Academie Minerva.  
    </description>

    <author email="mackalavan@yahoo.com" href="http://mackaylavanbinsbergen.com">
        MacKayla van Binsbergen
    </author>

        <icon platform="ios" src="platforms/browser/res/icon/ios/Icon-60@2x.png" height="120px" width="120px" />
        <icon platform="ios" src="platforms/browser/res/icon/ios/Icon-60@3x.png" height="180px" width="180px" />
        <icon platform="ios" src="platforms/browser/res/icon/ios/Icon-76.png"  height="76px" width="76px" />
        <icon platform="ios" src="platforms/browser/res/icon/ios/Icon-76@2x.png" height="152px" width="152px" />
        <icon platform="ios" src="platforms/browser/res/icon/ios/Icon-83.5@2x.png" height="167px" width="167px" />
        <icon platform="ios" src="platforms/browser/res/icon/ios/Icon-Small-40.png" height="40px" width="40px" />
        <icon platform="ios" src="platforms/browser/res/icon/ios/Icon-Small-40@2x.png" height="80px" width="80px"  />
        <icon platform="ios" src="platforms/browser/res/icon/ios/Icon-Small-40@3x.png" height="120px" width="120px" />
       
       <splash platform="ios" src="platforms/browser/res/screen/ios/ipad-retina-splash.png" height="2048" width="1536"/>
       <splash platform="ios" src="platforms/browser/res/screen/ios/ipad-splash-non-retina.png" height="1024" width="768"/> 
       <splash platform="ios" src="platforms/browser/res/screen/ios/iphone-plus-splash.png" height="2208" width="1242" />
       <splash platform="ios" src="platforms/browser/res/screen/ios/iphone-six-splash.png" height="1334" width="750" />
       <splash platform="ios" src="platforms/browser/res/screen/ios/iphone-five-splash.png" height="1136" width="640" />
       <splash platform="ios" src="platforms/browser/res/screen/ios/iphone-four-splash.png" height="960" width="640" />

   
    
    <content src="index.html" />
    <access origin="*" />
</widget>

