<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mackaylavanbinsbergen.wanderings" version="1.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Wanderings</name>
    <description>
       Beta version 1 of Wanderings Mindfulness App.  
    </description>
    <author email="mackalavan@yahoo.com" href="http://mackaylavanbinsbergen.com">
        MacKayla van Binsbergen
    </author>
     <icon src="..platforms/browser/res/icon/ios/icon.png" />
     <icon src="res/icon.png" />
     <icon src="../res/icon.png" />
     <icon src="www/icon.png"/>
     <icon src="icon.png" />
    <content src="index.html" />
    <access origin="*" />
</widget>

